ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    content: " ";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.slide-fade {
    position: relative;
    height: 100%;
}

.slide-fade-li {
    position: absolute;
    top: 0;
    left: 0;
}

.slide-left-wrap {
    overflow: hidden;
}

.slide-left {
    width: 100%;
}

.slide-left-li {
    float: left;
}

.nav-container {
    margin: 10px auto;
}

.nav-item {
    float: left;
    _display: inline;
    margin-right: 11px;
}

.nav-btn {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #6f6f6f;
}

.nav-btn:hover,
.nav-btn.on {
    background-color: #e94f18;
}
